<form action="/ab/abform2" method="post">
  <label for="branchname">Branchname:</label>
  <input type="text" id="branchname" name="branchname" value="<%= branchname %>"><br>

  <label for="branchmandal">Branchmandal:</label>
  <input type="text" id="branchmandal" name="branchmandal" value="<%= branchmandal %>"><br>

  <label for="branchdt">Branchdt:</label>
  <input type="text" id="branchdt" name="branchdt" value="<%= branchdt %>"><br>


  <input type="submit" value="Submit">
  </form>
  

  