<form action="/ab/abform" method="post">
        <label for="branchname">Branchname:</label>
        <input type="text" id="branchname" name="branchname" value="<%= branchname %>"><br>
      
        <label for="branchmandal">Branchmandal:</label>
        <input type="text" id="branchmandal" name="branchmandal" value="<%= branchmandal %>"><br>
      
        <input type="submit" value="Submit">
        </form>
  