<!DOCTYPE html>
<html>
<head>
  <title>Search report</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/rvgstylesheet.css">
    <a id="header-button" href="/home"><b>INDEX</b></a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <style>

</style>
</head>

<body style="margin: 0">
  <div class="divstyle">RVG</div>
  <div class="flexContainer">
  <div class="container">
  <div class="list-group">
    <a href="/ab/perdetails" class="list-group-item list-group-item-action"><b>Personal Details</b></a>
    <a href="/ab/scheduleprop" class="list-group-item list-group-item-action"><b>Schedule Property Details</b></a>
    <a href="/ab/scrunlst" class="list-group-item list-group-item-action "><b>Scrutinised Document List</b></a>
    <a href="/ab/mortgagor" class="list-group-item list-group-item-action "><b>Particulars Of Documents Of Mortgagor</b></a>
        <a href="/ab/searchrprt" class="list-group-item list-group-item-action active"><b>Search Report Based On Certified Copies</b></a>
        <a href="/ab/ec"class="list-group-item list-group-item-action"><b>General Search Based On E.C</b></a>
        <a class="list-group-item list-group-item-action"><b>Flow of title</b></a>
        <a class="list-group-item list-group-item-action"><b>Document review</b></a>
  </div>
  </div>
  
    
  <div class="div">
  <div class="list-group list-group-horizontal">
        
  </div>
  <h3><b>Search Report Based On Certified Copies</b></h3>
  <div class="customform" style="width: 50vw">
    <div class="navbar">
        <a href="/home">Index</a>
    </div>

  <form action="/ab/final_document" method="POST">

<body>
  <h1>Final Document</h1>
  <table>
    <tr>
      <th>S NO</th>
      <th>Date</th>
      <th>Description Of The Documents</th>
      <th>Nature</th>
    </tr>
    <% for (let i = 0; i < tableData.sno.length; i++) { %>
    <tr>
      <td><%= tableData.sno[i] %></td>
      <td><%= tableData.date[i] %></td>
      <td><%= tableData.description[i] %></td>
      <td><%= tableData.nature[i] %></td>
    </tr>
    <% } %>
  </table>
</body>

</html>
