<!DOCTYPE html>
<html>
  <head>
    <title>Legal document</title>    
    <style>
      .div {
        text-align: center;
        padding-top: 30px;
        background-color: aqua;
        font-size: xx-large;
        color: black;
        font-weight: 600;
        height: 70px;
      }
      h1 {
        text-align: center;
        font-size: xx-large;
        color: black;
      }
      .center {
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
        -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         font-size: 80px;
      }

      .btn{
        width:15vw;
        background-color: aqua;
        border-radius: 3px;
        border: 1px black;
        height: 5vh;
        padding: 3px;
        text-align: center;
        color:black;
      }
     
      footer {
        background-color:aqua;
         color: black;
         text-align: center;
         font-size: large;
         bottom: 10px;
         left: 10px;
         position: fixed;
         width: 95%;
         height: 40px;
         padding: 30px;
      }
    </style>
  </head>
  <body style="border: 2px solid; height:97vh;">
    <div class="div">RVG</div>
    <h1>Home Page</h1>   
    <div class="center";>
      <table>     
        <tr>
          <td><button class="btn">Scribe Affidavit</button></td>        
        </tr>
        <tr>
          <td></td>       
        </tr>
        <tr>
          <td><button class="btn">AndhraBank opinion</button></td>       
        </tr>
        <tr>
          <td></td>       
        </tr>
        <tr>
          <td><button class="btn">History</button></td>       
        </tr>
        <tr>
          <td></td>       
        </tr>        
    </table>
    </div>
    <footer>RVG Subbarao legal service Ltd</footer>    
  </body>
</html>

