<!DOCTYPE html>
<html>

<head>
  <title>personal details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/rvgstylesheet.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <style>
    
  </style>
</head>

<body style="margin: 0">
  <div class="divstyle">RVG</div>
  <div class="flexContainer">
    <div class="container">
      <div class="list-group">
        <a href="/ab/perdetails" class="list-group-item list-group-item-action active"><b>Personal
            Details</b></a>
        <a href="/ab/scheduleprop" class="list-group-item list-group-item-action"><b>Schedule Property Details</b></a>
        <a class="list-group-item list-group-item-action"><b>Scrutinised Document List</b></a>
        <a class="list-group-item list-group-item-action"><b>Particulars Of Documents Of Mortgagor</b></a>
        <a class="list-group-item list-group-item-action"><b>Search Report Based On Certified Copies</b></a>
        <a class="list-group-item list-group-item-action"><b>General Search Based On E.C</b></a>
        <a class="list-group-item list-group-item-action"><b>Flow of title</b></a>
        <a class="list-group-item list-group-item-action"><b>Document review</b></a>
      </div>
    </div>
    <div class="div">
      <div class="list-group list-group-horizontal">
        <a href="scribe.html" class="list-group-item list-group-item-action"><b>Scribe Affidavit</b></a>
        <a href="/ab/perdetails" class="list-group-item list-group-item-action"><b>Andhrabank Opinion</b></a>
        <a href="history.html" class="list-group-item list-group-item-action"><b>History</b></a>
      </div>
      <div class="customform">
        <form action="/ab/perdetails" method="post">
          <div class="mb-3 row">
            <label for="branchname" class="col-sm-3 col-form-label">Branch Name:</label>
            <div class="col-sm-7">
              <input type="text" id="bname" class="form-control" name="branchname" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="branchmandal" class="col-sm-3 col-form-label">Branch Mandal:</label>
            <div class="col-sm-7">
              <input type="text" id="bmname" name="branchmandal" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="branchdistrict" class="col-sm-3 col-form-label">Branch District:</label>
            <div class="col-sm-7">
              <input type="text" id="bdname" name="branchdistrict" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="clientname" class="col-sm-3 col-form-label">Client Name:</label>
            <div class="col-sm-7">
              <input type="text" id="cname" name="clientname" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="clientfather" class="col-sm-3 col-form-label">Client's Father:</label>
            <div class="col-sm-7">
              <input type="text" id="cfname" name="clientfather" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="clientvillage" class="col-sm-3 col-form-label">Client's Village:</label>
            <div class="col-sm-7">
              <input type="text" id="cvname" name="clientvillage" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="clientmandal" class="col-sm-3 col-form-label">Client's Mandal:</label>
            <div class="col-sm-7">
              <input type="text" id="cmname" name="clientmandal" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="clientdistrict" class="col-sm-3 col-form-label">Client's District:</label>
            <div class="col-sm-7">
              <input type="text" id="cdname" name="clientdistrict" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="regdocdate" class="col-sm-3 col-form-label">Reg DOC date:</label>
            <div class="col-sm-7">
              <input type="text" id="rname" name="regdocdate" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="sroname" class="col-sm-3 col-form-label">SRO Name:</label>
            <div class="col-sm-7">
              <input type="text" id="sname" name="sroname" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="docno" class="col-sm-3 col-form-label">DOC No:</label>
            <div class="col-sm-7">
              <input type="text" id="dname" name="docno" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propsurno" class="col-sm-3 col-form-label">Property survey no:</label>
            <div class="col-sm-7">
              <input type="text" id="psname" name="propsurno" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propdoorno" class="col-sm-3 col-form-label">Property Door No:</label>
            <div class="col-sm-7">
              <input type="text" id="pdname" name="propdoorno" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propolddoorno" class="col-sm-3 col-form-label">Property old door no:</label>
            <div class="col-sm-7">
              <input type="text" id="podname" name="propolddoorno" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="proparea" class="col-sm-3 col-form-label">Property Area:</label>
            <div class="col-sm-7">
              <input type="text" id="paname" name="proparea" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propdistrict" class="col-sm-3 col-form-label">Property District:</label>
            <div class="col-sm-7">
              <input type="text" id="pdname" name="propdistrict" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propmandal" class="col-sm-3 col-form-label">Property Mandal:</label>
            <div class="col-sm-7">
              <input type="text" id="pmname" name="propmandal" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propvillage" class="col-sm-3 col-form-label">Property Village:</label>
            <div class="col-sm-7">
              <input type="text" id="pvname" name="propvillage" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="proptype" class="col-sm-3 col-form-label">Property Type:</label>
            <div class="col-sm-7">
              <input type="text" id="ptname" name="proptype" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propage" class="col-sm-3 col-form-label">Property Age:</label>
            <div class="col-sm-7">
              <input type="text" id="paname" name="propage" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="propsinceyr" class="col-sm-3 col-form-label">Property Since Year:</label>
            <div class="col-sm-7">
              <input type="text" id="psyname" name="propsinceyr" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="encdate" class="col-sm-3 col-form-label">Encumberence Date:</label>
            <div class="col-sm-7">
              <input type="text" id="edname" name="encdate" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="bvsno" class="col-sm-3 col-form-label">Book/Volume/Scan No:</label>
            <div class="col-sm-7">
              <input type="text" id="bname" name="bvsno" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="executants" class="col-sm-3 col-form-label">Executants:</label>
            <div class="col-sm-7">
              <input type="text" id="ename" name="executants" class="form-control" />
            </div>
          </div>
          <div class="mb-3 row">  
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>          
            
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">RVG Subbarao legal service Ltd</div>
</body>

</html>