<!DOCTYPE html>
<html>

<head>
  <title>Scrutinised Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/rvgstylesheet.css">
    <a id="header-button" href="/home"><b>INDEX</b></a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script>
    function addRow() {
      var table = document.getElementById('mytable');
      var newRow = table.insertRow(table.rows.length);

      var SNOCell = newRow.insertCell(0);
      var DateCell = newRow.insertCell(1);
      var DescriptionOfTheDocumentsCell = newRow.insertCell(2);
      var NatureCell = newRow.insertCell(3);
      
      
      SNOCell.innerHTML = "S No";      
      SNOCell.contentEditable = true;

      DateCell.innerHTML = "New Date";
      DateCell.contentEditable = true;
      DescriptionOfTheDocumentsCell.innerHTML =
        "New DescriptionOfTheDocumentsCell";
        DescriptionOfTheDocumentsCell.contentEditable=true;
      NatureCell.innerHTML = "Original";
      NatureCell.contentEditable =true;
    }
    function deleteRow() {
      var table = document.getElementById('mytable');
      if (table.rows.length > 2) {
        table.deleteRow(table.rows.length - 1);
      }
    }
  </script>
</head>

<body style="margin: 0">
  <div class="divstyle">RVG</div>
  <div class="flexContainer">
    <div class="container">
      <div class="list-group">
        <a href="/ab/perdetails" class="list-group-item list-group-item-action"><b>Personal Details</b></a>
        <a href="/ab/scheduleprop" class="list-group-item list-group-item-action"><b>Schedule Property Details</b></a>
        <a href="/ab/scrunlst" class="list-group-item list-group-item-action active"><b>Scrutinised Document List</b></a>
        <a href="/ab/mortgagor" class="list-group-item list-group-item-action"><b>Particulars Of Documents Of Mortgagor</b></a>
        <a href="/ab/searchrprt" class="list-group-item list-group-item-action"><b>Search Report Based On Certified Copies</b></a>
        <a href="/ab/ec" class="list-group-item list-group-item-action"><b>General Search Based On E.C</b></a>
        <a class="list-group-item list-group-item-action"><b>Flow of title</b></a>
        <a class="list-group-item list-group-item-action"><b>Document review</b></a>
      </div>
    </div> 
    <div class="div">
      <h3><b>Scrutinised Document List</b></h3>
      <div class="customform" style="width: 50vw">
        <div class="navbar">
          <a href="/home">Index</a>
        </div>
        <form action="/ab/scrunlst" method="POST">
          <div class="table-responsive">
            <table id="mytable" class="table table-fixed table-bordered align-middle mytable">
              <tr>
                <th class="col-md-2">S NO</th>
                <th>Date</th>
                <th>Description Of The Documents</th>
                <th>Nature</th>
              </tr>
              <tr>
                <td contenteditable="true"><input type="text" name="sno" value="01"></td>
                <td class="col-md-3" contenteditable="true"><input type="text" name="date" value="27-03-2002"></td>
                <td class="col-md-6" contenteditable="true"><input type="text" name="description" 
                  value= "REGD. PARTITION DEED IN FAVOUR OF 1.MANCHAM SUBBARAO
                  2.MANCHAM SATYANARAYANA 3.MANCHAM MUTYALARAO(loan
                  applicant)INTERSE (DOC. NO.<%= docno %> <%= sroname %> SRO –
                  ORIGINAL PARTITION DEED FOR THE SCHEDULE PROPERTY).">
                </td>
                <td contenteditable="true"><input type="text" name="nature" value="Original"></td>
              </tr>
            </table>
            <input type="button" value="Add Row" onclick="addRow()" />
            <input type="button" value="Delete Row" onclick="deleteRow()" />
          </div>
          <br />
          <br />
          <div class="col-sm-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">RVG Subbarao legal service Ltd</div>
</body>

</html>